<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @commit.content %>
</p>

<p>
  <strong>Micropost:</strong>
  <%= @commit.micropost %>
</p>

<%= link_to 'Edit', edit_commit_path(@commit) %> |
<%= link_to 'Back', commits_path %>
